@use "../../style/mediaQueries.scss" as *;
@use "../../style/variables.scss" as *;

.grid {
  padding: 0;
  display: inline-grid;
  grid-template-columns: repeat(5, 170px);
  column-gap: $half-spacing;
  row-gap: $regular-spacing;
  justify-content: center;
  width: 100%;

  @include big {
    grid-template-columns: repeat(4, 170px);
  }
  @include medium {
    grid-template-columns: repeat(3, 170px);
  }
  @include small {
    grid-template-columns: 170px 170px;
  }
  @include smallest {
    grid-template-columns: 170px;
  }
}

.list {
  padding: 0;
  margin: 0 auto;
  width: calc($big-screen - $six-times-spacing);

  @include big {
    width: calc(100% - $six-times-spacing);
  }
  @include medium {
    width: calc(100% - $double-spacing);
  }
  @include small {
    width: calc(100% - $regular-spacing);
  }
  @include smallest {
    width: calc(100% - $half-spacing);
  }
}
