@use "../../style/mixins.scss" as *;
@use "../../style/variables.scss" as *;

.employee {
  @include boxShadow;

  display: inline-block;
  border-radius: calc($regular-spacing * 1.2);
  padding: $regular-spacing $half-spacing $double-spacing $half-spacing;
}
