@use "../../style/mixins.scss" as *;
@use "../../style/variables.scss" as *;

.employee {
  @include boxShadow;
  display: flex;
  border-radius: $half-spacing;
  padding: $regular-spacing $half-spacing;

  &__description {
    margin-left: $half-spacing;
    width: 100%;
  }
}
